.discord {
  background-color: #36393f;
  width: 1000px;
  padding: 20px;
  display: flex;
  word-break: break-word;
  font-size: 35px;
  font-family: sans-serif;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.time {
  font-size: 24px;
  padding-bottom: 10px;
  color: #a3a6aa;
}

.message {
  color: #dcddde;
  line-height: 50px;
}

.name {
  margin-right: 6px;
  max-width: 700px;
  display : inline-block;
  white-space : nowrap;
  overflow: hidden;
  text-overflow : ellipsis;
}

code {
  font-family: monospace;
  background-color: #2f3136;
  border-radius: 5px;
  font-size: 33px;
  padding: 2px;
}

.d-spoiler {
  background-color: #dcddde20;
  border-radius: 5px;
}

blockquote {
  border-left: 7px solid #dcddde20;
  border-radius: 7px;
  padding-left: 15px;
  margin: 0;
}

.d-mention {
  color: #dee0fc;
  background-color: #5865f24c;
  border-radius: 5px;
  padding: 2px;
}
